body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.618;
  color: #212121;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navigation {
  display: inline-flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

ul.navigation > li {
  padding: 1em 2.2em;
  line-height: 1.3;
}

ul.navigation > li a {
  text-decoration: none;
}

p {
  margin: 0 0 1.3em;
}

/* Font Styling */
h1.title {
  color: #142a4d;
  font-weight: 700;
  margin: 0.3em 0 0.8em;
  line-height: 1.1;
  font-size: 1.6em;
  font-family: "Roboto";
}

a {
  color: #137c19;
}

h3.subtitle {
  color: #142a4d;
  font-weight: 700;
  margin: 0 0 0.8em;
  line-height: 1.1;
  font-size: 1.3em;
  font-family: "Roboto";
}

h4.headerlabel {
  font-size: 1em;
  margin: 0 0 0.5em;
  font-weight: 500;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h6.minifiedheaderlabel {
  color: #212121;
  font-size: 0.75em;
  margin: 0 0 1.3em;
  font-weight: 700;
  letter-spacing: 0.8px;
}

/* Button Styling */
button {
  border-radius: 200px;
  border: none;
  box-shadow: none;
  font-size: 0.875em;
  font-family: "Roboto", helvetica, arial, sans-serif;
  cursor: pointer;
}

.motion-button-default {
  padding: 0.8em 1.3em;
  background: #fff;
  color: #137c19;
  box-shadow: var(--dt-surface1-shadow, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15));
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}
.motion-button-default:hover {
  background: rgba(67, 183, 73, 0.3803921569);
  box-shadow: var(--dt-surface1-shadow, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.45));
}
.motion-button-default:active {
  box-shadow: var(--dt-surface1-shadow, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15));
}
.motion-button-default.small {
  font-size: 0.75em;
  padding: 0.65em 1.3em;
}

.button-outlined {
  background: transparent;
  border: 1px solid #137c19;
  color: #137c19;
}

.button-outlined:hover {
  background: transparent;
  border: 1px solid #43b749;
  color: #43b749;
}

.link-icon-button {
  font-size: 0.875em;
  color: #137c19;
  display: inline-flex;
  text-decoration: none;
}

.configuration-button {
  font-size: 0.75em;
  line-height: 1.1;
  padding: 0.5em 1.3em;
  border-radius: 6px;
}
.configuration-button.default {
  background: transparent;
  color: #142a4d;
  border: 1px solid rgba(20, 42, 77, 0.4588235294);
}

.icon-element-wrapper {
  margin: 0 0.15em;
  height: 20px;
  display: inline-flex;
  align-items: center;
}
.icon-element-wrapper svg {
  font-size: 16px;
}

.configuration-label {
  margin: 0 0.15em;
}

/* Input Styling */
.input-icon {
  position: relative;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  font-family: "Roboto", helvetica, arial, sans-serif;
}
.input-icon .icon-element-wrapper {
  position: relative;
  left: 25px;
  display: inline-block;
  text-align: center;
}
.input-icon.extended {
  position: relative;
}
.input-icon.extended .default-input {
  width: 25%;
  background: rgba(20, 42, 77, 0.1294117647);
}
.input-icon.extended .default-input:focus {
  width: 100%;
}
.input-icon.extended .default-input::placeholder {
  font-family: "Roboto", helvetica, arial, sans-serif;
}
.input-icon.extended .default-input::-webkit-input-placeholder {
  font-family: "Roboto", helvetica, arial, sans-serif;
}

.default-input {
  font-size: 1em;
  padding: 0.8em 1.3em;
  color: #142a4d;
  border: none;
  border-radius: 6px;
  outline: #43b749;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}
.default-input.small {
  font-size: 0.75em;
}
.default-input.left-icon {
  padding-left: 2.1em;
}
.default-input.right-icon {
  padding-right: 2.1em;
}
.default-input.circle {
  border-radius: 200px;
}
.default-input.fullwidth {
  max-width: 100%;
}

/* Injected Styling */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.fullwidth {
  width: 100%;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.nomargin {
  margin: 0 !important;
}

.flex-basis-20 {
  flex-basis: 20%;
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-33 {
  flex-basis: 33.33333%;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-60 {
  flex-basis: 60%;
}

.flex-basis-66 {
  flex-basis: 66.6666666%;
}

.flex-basis-70 {
  flex-basis: 70%;
}

.flex-basis-80 {
  flex-basis: 80%;
}

.text-align-center {
  text-align: center;
}

/* General Layout Styling */
.soft-text {
  color: #757575;
  font-size: 0.875em;
  margin: 0;
  letter-spacing: 0.3px;
}

.button-list-item {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  margin: 0 0.3em;
}
.button-list-item:last-child {
  margin-right: 0;
}

.priority-list-item {
  flex-basis: 50%;
  margin-right: 0.3em;
}

.motion-paper-wrapper {
  border-radius: 13px;
  box-shadow: var(--dt-surface1-shadow, 0 1px 2px 0 rgba(60, 64, 67, 0.15), 0 1px 3px 1px rgba(60, 64, 67, 0.05));
  overflow: hidden;
}

.motion-header-paper-wrapper {
  background: rgba(20, 42, 77, 0.0745098039);
  border-radius: 13px;
  margin: 2.1em 0 1.3em !important;
  padding: 0.8em 2.1em;
  font-size: 0.875em;
  font-weight: 500;
  color: #9e9e9e;
  border-bottom: 1px solid rgba(20, 42, 77, 0.2588235294);
}

.motion-content-paper-wrapper {
  padding: 1.3em 2.1em;
  border-bottom: 1px solid rgba(20, 42, 77, 0.1294117647);
  font-size: 0.875em;
  align-items: center;
  color: #757575;
}

.motion-list-main-title {
  line-height: 1.1;
  color: #142a4d;
  font-size: 1.3em;
}

.motion-list-main-subtitle {
  font-weight: 500;
}

.motion-list-body-title {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.3;
  color: #212121;
}

.motion-content-list-body {
  display: flex;
  padding: 0.8em 2.1em;
  font-size: 0.875em;
  color: #9e9e9e;
}

.label-status {
  padding: 0.5em 0.8em;
  background: #bdbdbd;
  color: #616161;
  border-radius: 4px;
  font-weight: 500;
}
.label-status.success-mode {
  background: #137c19;
  color: #fff;
}
.label-status.ongoing-mode {
  background: #142a4d;
  color: #fff;
}

.label-status-flat {
  font-weight: 500;
}
.label-status-flat.success-mode {
  color: #137c19;
}
.label-status-flat.failed-mode {
  color: #e53017;
}

.parent-hierarchy {
  border-left: 1px solid #e0e0e0;
}

.motion-list-hieararchy {
  line-height: 27px;
  color: #616161;
  padding: 13px 0 0 34px;
  position: relative;
}
.motion-list-hieararchy::before {
  width: 23px;
  border-top: 1px solid #e0e0e0;
  content: "";
  position: absolute;
  left: 0;
  margin: 0;
  top: 26px;
}
.motion-list-hieararchy:last-child::before {
  width: 24px;
  left: -1px;
  right: 0;
  bottom: 0;
  background: #f6f7f8;
}

.motion-content-wrapper {
  background: rgba(20, 42, 77, 0.0392156863);
  padding: 1.3em 0;
}

.link-status-table {
  text-decoration: none;
}

/* Drawer Layout Styling */
.drawer-logo-holder {
  padding: 21px 34px;
}

.menu-drawer-option {
  text-decoration: none;
  font-family: "Roboto", helvetica, arial, sans-serif;
  color: #616161;
  display: block;
}

.menu-drawer-option.active {
  font-weight: 500;
  color: #137c19;
}

ul.vertical-list-default {
  padding-left: 34px;
  padding-top: 17px;
}

ul.vertical-list-default > li {
  margin: 13px 0;
}

a.link-with-icon-radius {
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  padding: 0.5em 2.1em;
  line-height: 1.1;
  align-items: center;
  font-size: 0.875em;
}
a.link-with-icon-radius:hover {
  color: #137c19;
  border: 1px solid #137c19;
}

.neutral-variant {
  color: #142a4d;
  border: 1px solid rgba(20, 42, 77, 0.4588235294);
}

.green-variant {
  color: #137c19;
  border: 1px solid #137c19;
}

/* Header Login Section */
.header-login-section {
  padding: 13px 34px 13px 319px;
  border-bottom: 1px solid #eee;
  margin-bottom: 34px;
  position: fixed;
  width: calc(100% - 353px);
  position: fixed;
  background: #fff;
  z-index: 5555;
}

/* Main Content Editor */
.main-content {
  min-height: calc(100vh - 100px);
  max-width: 100%;
  padding: 100px 34px 53px 319px;
}

.page-title-default-format {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1em;
}

.block-wrapper {
  margin: 15px 0px;
}

/*# sourceMappingURL=index.css.map */
